<div class="group-product-area">
  {% for product in productAttribute %}
    <div class="product-item">
      <a class="product-image-area" href="{{ product.url }}">
        <img
          src="{{ product.featured_image.src | image_url: width: 1024 }}"
          width="200"
          height="200"
          alt="{{ product.title }}"
          loading="lazy"
        >
      </a>
      <div class="group-product-info-area">
        <div class="product-title-area">
          <a href="{{ product.url }}">{{ product.title }}</a>
        </div>
        {%- render 'sunday-product-variation', productVariation: product.variants, product: product -%}
      </div>
    </div>
  {% endfor %}
</div>
