{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;

    background: {{ section.settings.footer_background_color }};
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<footer class="footer color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  {%- liquid
    assign has_social_icons = true
    if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
      assign has_social_icons = false
    endif

    if settings.brand_image == blank and settings.brand_headline == blank and settings.brand_description == blank
      assign brand_empty = true
    endif

    if section.blocks.size == 1 and section.blocks[0].type == 'brand_information' and brand_empty and has_social_icons == false and section.settings.newsletter_enable == false and section.settings.enable_follow_on_shop == false
      assign only_empty_brand = true
    endif
  -%}
  {%- if section.blocks.size > 0
    or section.settings.newsletter_enable
    or section.settings.show_social
    and has_social_icons == true
    or section.settings.enable_follow_on_shop
  -%}
    {%- unless only_empty_brand -%}
      <div class="footer__content-top page-width">
        {%- if section.blocks.size > 0 -%}
          {%- liquid
            if section.blocks.size == 9
              assign footer_grid_class = 'grid--3-col-tablet'
            elsif section.blocks.size > 6
              assign footer_grid_class = 'grid--4-col-desktop'
            elsif section.blocks.size > 4
              assign footer_grid_class = 'grid--3-col-tablet'
            endif
          -%}
          <div
            class="footer__blocks-wrapper grid grid--1-col grid--2-col grid--4-col-tablet {{ footer_grid_class }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
            {% endif %}
          >
            {%- for block in section.blocks -%}
              {%- assign paddingColumn = null -%}
              {%- assign widthColumn = null -%}

              {%- if block.type == 'footer-menu' and block.settings.menu_width_mobile < 100 %}
                {%- assign paddingColumn = 'paddingColumn' -%}
                {%- assign widthColumn = 'width: calc('
                  | append: block.settings.menu_width_mobile
                  | append: '% - 5px)'
                -%}

                {%- style -%}
                  .footer-menu.{{ block.settings.menu_list }}{
                    {% if widthColumn != null %}{{ widthColumn }}{% endif %}
                  }
                {%- endstyle -%}
              {%- endif %}

              <div
                class="{{ block.settings.menu_list }} {{ block.type }} {{ block.settings.menu_type }} {% if paddingColumn != null %}{{ paddingColumn }}{% endif %} footer-block grid__item{% if block.type == 'link_list' %} footer-block--menu{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {%- if block.settings.heading != blank -%}
                  <h2 class="footer-block__heading inline-richtext">{{- block.settings.heading -}}</h2>
                {%- endif -%}

                {%- case block.type -%}
                  {%- when '@app' -%}
                    {% render block %}
                  {%- when 'text' -%}
                    <div class="footer-block__details-content rte">
                      {{ block.settings.subtext }}
                    </div>
                  {%- when 'link_list' -%}
                    {%- if block.settings.menu != blank -%}
                      <ul class="footer-block__details-content list-unstyled">
                        {%- for link in block.settings.menu.links -%}
                          <li>
                            <a
                              href="{{ link.url }}"
                              class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}"
                            >
                              {{ link.title }}
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    {%- endif -%}
                  {%- when 'brand_information' -%}
                    <div class="footer-block__brand-info">
                      {%- if settings.brand_image != blank -%}
                        {%- assign brand_image_height = settings.brand_image_width
                          | divided_by: settings.brand_image.aspect_ratio
                        -%}
                        <div
                          class="footer-block__image-wrapper"
                          style="max-width: min(100%, {{ settings.brand_image_width }}px);"
                        >
                          {{
                            settings.brand_image
                            | image_url: width: 1100
                            | image_tag:
                              loading: 'lazy',
                              widths: '50, 100, 150, 200, 300, 400, 550, 800, 1100',
                              height: brand_image_height,
                              width: settings.brand_image_width
                          }}
                        </div>
                      {%- endif -%}
                      {%- if settings.brand_headline != blank -%}
                        <h2 class="footer-block__heading rte">{{ settings.brand_headline }}</h2>
                      {%- endif -%}
                      {%- if settings.brand_description != blank -%}
                        <div class="rte">{{ settings.brand_description }}</div>
                      {%- endif -%}
                      {%- if block.settings.show_social and has_social_icons -%}
                        {%- render 'social-icons', class: 'footer__list-social' -%}
                      {%- endif -%}
                    </div>
                  {%- when 'image' -%}
                    <div class="footer-block__details-content footer-block-image {{ block.settings.alignment }}">
                      {%- if block.settings.image != blank -%}
                        {%- assign image_size_2x = block.settings.image_width | times: 2 | at_most: 5760 -%}
                        <div
                          class="footer-block__image-wrapper"
                          style="max-width: min(100%, {{ block.settings.image_width }}px);"
                        >
                          <img
                            srcset="{{ block.settings.image | image_url: width: block.settings.image_width }}, {{ block.settings.image | image_url: width: image_size_2x }} 2x"
                            src="{{ block.settings.image | image_url: width: 760 }}"
                            alt="{{ block.settings.image.alt | escape }}"
                            loading="lazy"
                            width="{{ block.settings.image.width }}"
                            height="{{ block.settings.image.height }}"
                          >
                        </div>
                      {%- else -%}
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                      {%- endif -%}
                    </div>

                  {%- when 'footer-information' -%}
                    {% assign address_title = block.settings.address_title | strip %}
                    {% assign address_content = block.settings.address_content | strip %}

                    {%- if address_title != empty and address_content != empty -%}
                      <div class="footer-block__details-content footer-block-infomation {{ block.settings.alignment }}">
                        <div class="footer-block__infomation">
                          <div class="address-area">
                            <h2>
                              <span>{{ block.settings.address_title | append: ':' }}</span>
                              {{ block.settings.address_content | strip_html | remove: block.settings.address_title }}
                            </h2>
                          </div>

                          <div class="email-area">
                            {% assign email_title = block.settings.email_title | strip %}
                            {% assign email_content = block.settings.email_content | strip %}

                            {% if email_title != empty and email_content != empty %}
                              {% capture email_url %}{{ email_content | split: 'href="' | last | split: '"' | first }}{% endcapture %}
                              <a href="mailto: {{ email_url | strip_html }}">
                                <span>{{ block.settings.email_title | append: ':' }}</span>
                                {{ block.settings.email_content | strip_html | remove: block.settings.email_title }}
                              </a>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    {%- endif -%}

                  {%- when 'footer-menu' -%}
                    <div class="footer-block__footer-menu">
                      {%- if block.settings.menu_title != blank -%}
                        <h2 class="footer-block__heading inline-richtext footer-block__menu-list-heading {{ block.settings.menu_type }}">
                          {{- block.settings.menu_title -}}
                        </h2>
                      {%- endif -%}
                      {%- if block.settings.menu_list != blank -%}
                        <ul class="footer-block__details-content list-unstyled footer-block__menu-list {{ block.settings.menu_type }}">
                          {%- for link in block.settings.menu_list.links -%}
                            <li>
                              <a
                                href="{{ link.url }}"
                                class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--actives{% endif %}"
                              >
                                {{ link.title }}
                                {%- if block.settings.menu_type == 'icon' -%}
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="9"
                                    height="10"
                                    viewBox="0 0 9 10"
                                    fill="none"
                                  >
                                    <g clip-path="url(#clip0_212_3181)">
                                    <path d="M1.37012 8.36792L8.10772 1.63032" stroke="white" stroke-width="1.78445" stroke-linecap="round"/>
                                    <path d="M0.892578 2.10815L8.10627 1.63206" stroke="white" stroke-width="1.78445" stroke-linecap="round"/>
                                    <path d="M8.10611 8.36978L8.10611 1.63217" stroke="white" stroke-width="1.78445" stroke-linecap="round"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_212_3181">
                                    <rect width="9" height="8.52273" fill="white" transform="translate(0 0.738525)"/>
                                    </clipPath>
                                    </defs>
                                  </svg>
                                {%- endif -%}
                              </a>
                            </li>

                            {%- if block.settings.menu_type == 'special' and forloop.last == false -%}
                              <li class="line-area"></li>
                            {%- endif -%}
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </div>
                  {%- when 'footer-logo' -%}
                    {%- style %}
                      .footer-logo .header__heading-logo-wrapper img {
                        width: auto;
                        height: {{- block.settings.footer_logo_height | append: 'px' -}};
                      }
                    {%- endstyle %}

                    <a
                      href="{{ routes.root_url }}"
                      class="footer-logo header__heading-link link link--text focus-inset"
                    >
                      {%- if settings.logo != blank -%}
                        <div
                          class="header__heading-logo-wrapper"
                          style="text-align: {{ block.settings.footer_logo_alignment }};"
                        >
                          {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                          {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                          {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
                          {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                          {{
                            settings.logo
                            | image_url: width: 600
                            | image_tag:
                              class: 'header__heading-logo motion-reduce',
                              widths: widths,
                              height: logo_height,
                              width: settings.logo_width,
                              alt: logo_alt,
                              sizes: sizes,
                              preload: true
                          }}
                        </div>
                      {%- else -%}
                        <div
                          class="header__heading-logo-wrapper"
                          style="text-align: {{ block.settings.footer_logo_alignment }};"
                        >
                          <img
                            src="https://cdn.shopify.com/s/files/1/0817/3902/2646/files/sunday-logo.png?v=1693218239"
                            width="240"
                            height="88"
                            alt="Sunday-logo"
                            loading="eager"
                          >
                        </div>
                      {%- endif -%}
                    </a>
                {%- endcase -%}
              </div>
            {%- endfor -%}
          </div>
        {%- endif -%}
      </div>
    {%- endunless -%}
  {%- endif -%}

  <div class="footer__content-bottom">
    <div class="footer__content-bottom-wrapper page-width{% if section.settings.enable_country_selector == false and section.settings.enable_language_selector == false %} footer__content-bottom-wrapper--center{% endif %}">
      <div class="footer__copyright caption">
        <small class="copyright__content">
          {% comment %} &copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url -}}{% endcomment %}
          {{ section.settings.footer_copyright }}
        </small>
        {% comment %} <small class="copyright__content">{{ powered_by_link }}</small> {% endcomment %}
        {%- if section.settings.show_policy -%}
          <ul class="policies list-unstyled">
            {%- for policy in shop.policies -%}
              {%- if policy != blank -%}
                <li>
                  <small class="copyright__content"
                    ><a href="{{ policy.url }}">{{ policy.title }}</a></small
                  >
                </li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        {%- endif -%}
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "brand_information",
      "name": "t:sections.footer.blocks.brand_information.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.footer.blocks.brand_information.settings.paragraph.content"
        },
        {
          "type": "header",
          "content": "t:sections.footer.blocks.brand_information.settings.header__1.content"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "t:sections.footer.blocks.brand_information.settings.show_social.label",
          "info": "t:sections.footer.blocks.brand_information.settings.show_social.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share contact information, store details, and brand content with your customers.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 550,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image alignment on large screen",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    },
    {
      "type": "footer-information",
      "name": "t:sections.footer.blocks.footer-information.name",
      "settings": [
        {
          "type": "text",
          "id": "address_title",
          "default": "Địa chỉ",
          "label": "t:sections.footer.blocks.footer-information.settings.address_title.label"
        },
        {
          "type": "richtext",
          "id": "address_content",
          "default": "<p>L18-11-13, Tầng 18, Tòa nhà Vincom Center Đồng Khởi, 72 Lê Thánh Tôn, Phường Bến Nghé, Quận 1, Thành phố Hồ Chí Minh, Việt Nam<\/p>",
          "label": "t:sections.footer.blocks.footer-information.settings.address_content.label"
        },
        {
          "type": "text",
          "id": "email_title",
          "default": "Email",
          "label": "t:sections.footer.blocks.footer-information.settings.email_title.label"
        },
        {
          "type": "richtext",
          "id": "email_content",
          "default": "<p>lienhe@sunday.vn<\/p>",
          "label": "t:sections.footer.blocks.footer-information.settings.email_content.label"
        }
      ]
    },
    {
      "type": "footer-menu",
      "name": "t:sections.footer.blocks.footer-menu.name",
      "settings": [
        {
          "type": "text",
          "id": "menu_title",
          "default": "LIÊN HỆ",
          "label": "t:sections.footer.blocks.footer-menu.settings.menu_title.label"
        },
        {
          "type": "link_list",
          "id": "menu_list",
          "default": "footer",
          "label": "t:sections.footer.blocks.footer-menu.settings.menu_list.label",
          "info": "t:sections.footer.blocks.footer-menu.settings.menu_list.info"
        },
        {
          "type": "select",
          "id": "menu_type",
          "default": "default",
          "label": "t:sections.footer.blocks.footer-menu.settings.menu_type.label",
          "info": "t:sections.footer.blocks.footer-menu.settings.menu_type.info",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "icon",
              "label": "Icon"
            },
            {
              "value": "special",
              "label": "Special"
            }
          ]
        },
        {
          "type": "range",
          "id": "menu_width_mobile",
          "min": 1,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:sections.footer.blocks.footer-menu.settings.menu_width_mobile.info",
          "default": 100
        }
      ]
    },
    {
      "type": "footer-logo",
      "name": "t:sections.footer.blocks.footer-logo.name",
      "settings": [
        {
          "type": "select",
          "id": "footer_logo_alignment",
          "default": "left",
          "label": "t:sections.footer.blocks.footer-logo.settings.footer_logo_alignment.label",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "range",
          "id": "footer_logo_height",
          "min": 40,
          "max": 140,
          "step": 1,
          "unit": "px",
          "label": "t:sections.footer.blocks.footer-logo.settings.footer_logo_height.label",
          "default": 46
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "color",
      "id": "footer_background_color",
      "default": "#889289",
      "label": "Footer Background Color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__9.content",
      "info": "t:sections.footer.settings.header__9.info"
    },
    {
      "type": "checkbox",
      "id": "enable_follow_on_shop",
      "default": true,
      "label": "t:sections.footer.settings.enable_follow_on_shop.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__8.content",
      "info": "t:sections.footer.settings.header__8.info"
    },
    {
      "type": "checkbox",
      "id": "show_policy",
      "default": false,
      "label": "t:sections.footer.settings.show_policy.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "text",
      "id": "footer_copyright",
      "default": "Sunday Natural Vietnam 2023. © All rights reserved",
      "label": "t:sections.footer.settings.footer_copyright.label"
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      },
      {
        "type": "footer-information"
      },
      {
        "type": "footer-menu"
      },
      {
        "type": "footer-logo"
      }
    ]
  }
}
{% endschema %}
