{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}
{{ 'sunday-contact-page.css' | asset_url | stylesheet_tag }}

<div class="contact-page-area page-width">
  <div class="title-area">
    <h2>{{ 'sunday.page.contact.title' | t }}</h2>
  </div>
  <div class="group-content-area">
    <div class="infomation-area">
      <div class="group-box-infomation">
        {% assign boxContactInfomationCount = 0 %}
        {% assign boxContactIconCount = 0 %}
        {% assign boxContactSocialCount = 0 %}

        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'box_contact_infomation' %}
              <div class="box-title-area{% if boxContactInfomationCount == 1 %} second{% endif %}">
                <h2>{{ block.settings.title }}</h2>
              </div>
              <div class="box-description">
                {{ block.settings.description }}
              </div>
              {% assign boxContactInfomationCount = boxContactInfomationCount | plus: 1 %}

            {% when 'box_address' %}
              <div class="box-icon-area{% if boxContactIconCount == 1 %} second{% endif %}">
                <div class="icon-area">
                  {{ block.settings.icon }}
                </div>
                <div class="content-area">
                  {{ block.settings.description }}
                </div>
              </div>
              {% assign boxContactIconCount = boxContactIconCount | plus: 1 %}

            {% when 'box_social_icon' %}
              <div class="box-social-area{% if boxContactSocialCount == 1 %} second{% endif %}">
                <a href="{{ block.settings.box_social_url | default: '#' }}" target="_blank">
                  {% if block.settings.box_social_icon_image != blank %}
                    <img
                      src="{{ block.settings.box_social_icon_image | img_url: 'medium' }}"
                      width="32"
                      height="33"
                      alt="shopify-social"
                      loading="lazy"
                    >
                  {% else %}
                    <img
                      src="{{ block.settings.box_social_icon_default }}"
                      width="32"
                      height="33"
                      alt="shopify-social"
                      loading="lazy"
                    >
                  {% endif %}
                </a>
              </div>

              {% assign boxContactSocialCount = boxContactSocialCount | plus: 1 %}
          {% endcase %}
        {% endfor %}
      </div>
    </div>
    <div class="form-area">
      {%- liquid
        assign contact_form_class = 'isolate'
        if settings.animations_reveal_on_scroll
          assign contact_form_class = 'isolate scroll-trigger animate--slide-in'
        endif
      -%}
      {%- form 'contact', id: 'ContactForm', class: contact_form_class -%}
        <div class="form-group">
          <label for="contact[email]" class="form-label">{{ 'sunday.page.contact.form.email_label' | t }}</label>
          <input
            type="email"
            class="form-control"
            id="contact[email]"
            name="contact[email]"
            spellcheck="false"
            autocapitalize="off"
            required="required"
          >
        </div>
        <div class="form-group">
          <label for="contact[title]" class="form-label">{{ 'sunday.page.contact.form.subject_label' | t }}</label>
          <input
            type="text"
            class="form-control"
            id="contact[title]"
            name="contact[title]"
            spellcheck="false"
            autocapitalize="off"
            required="required"
          >
        </div>
        <div class="form-group">
          <label for="contact[message]" class="form-label">{{ 'sunday.page.contact.form.message_label' | t }}</label>
          <textarea
            rows="6"
            id="contact[message]"
            name="contact[message]"
            required="required"
          ></textarea>
        </div>

        <div class="form-group">
          <label for="contact[product]" class="form-label">{{ 'sunday.page.contact.form.product_label' | t }}</label>
          <select name="contact[product]" id="contact[product]" required="required">
            {% assign products = collections.all.products | sort: 'title' %}
            {% for product in products %}
              <option value="{{ product.title }}">{{ product.title }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-check">
          <input
            type="checkbox"
            class="form-control"
            id="contact[term]"
            name="contact[term]"
            spellcheck="false"
            autocapitalize="off"
            value="Đồng ý điều khoản sử dụng và Chính sách bảo mật"
            required="required"
          >
          <label for="contact[term]" class="form-check-label">{{ 'sunday.page.contact.form.term_label' | t }}</label>
        </div>

        <div class="form-group">
          <button type="submit" class="button">{{ 'sunday.page.contact.form.button_label' | t }}</button>
        </div>

        {%- if form.posted_successfully? -%}
          <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>
            {% render 'icon-success' %}
            {{ 'templates.contact.form.post_success' | t }}
          </h2>
        {%- elsif form.errors -%}
          <div class="form__message">
            <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
              {% render 'icon-error' %}
              {{ 'templates.contact.form.error_heading' | t }}
            </h2>
          </div>
          <ul class="form-status-list caption-large" role="list">
            <li>
              <a href="#ContactForm-email" class="link">
                {{ form.errors.translated_fields.email | capitalize }}
                {{ form.errors.messages.email }}
              </a>
            </li>
          </ul>
        {%- endif -%}
      {%- endform -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.sunday-contact-form.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "blocks": [
    {
      "type": "box_contact_infomation",
      "name": "t:sections.sunday-contact-form.blocks.box_contact_infomation.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "title",
          "default": "Gọi chúng tôi",
          "label": "t:sections.sunday-contact-form.blocks.box_contact_infomation.settings.title.label"
        },
        {
          "type": "richtext",
          "id": "description",
          "default": "<p>Liên hệ với chúng tôi để được giải đáp thắc mắc ngay nhé</p>",
          "label": "t:sections.sunday-contact-form.blocks.box_contact_infomation.settings.description.label"
        }
      ]
    },
    {
      "type": "box_address",
      "name": "t:sections.sunday-contact-form.blocks.box_address.name",
      "settings": [
        {
          "type": "liquid",
          "id": "icon",
          "label": "t:sections.sunday-contact-form.blocks.box_address.settings.description.label"
        },
        {
          "type": "richtext",
          "id": "description",
          "default": "<p>Liên hệ với chúng tôi để được giải đáp thắc mắc ngay nhé</p>",
          "label": "t:sections.sunday-contact-form.blocks.box_address.settings.description.label"
        }
      ]
    },
    {
      "type": "box_social_icon",
      "name": "t:sections.sunday-contact-form.blocks.box_social_icon.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "box_social_icon_image",
          "label": "t:sections.sunday-contact-form.blocks.box_social_icon.settings.box_social_icon_image.label"
        },
        {
          "type": "url",
          "id": "box_social_icon_default",
          "label": "t:sections.sunday-contact-form.blocks.box_social_icon.settings.box_social_icon_default.label"
        },
        {
          "type": "url",
          "id": "box_social_url",
          "label": "t:sections.sunday-contact-form.blocks.box_social_icon.settings.box_social_url.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
