{{ 'sunday-master-product-slider-background.css' | asset_url | stylesheet_tag }}
<script src="{{ 'sunday-master-product-slider-background.js' | asset_url }}" defer="defer"></script>

<style>
  {%- for block in section.blocks -%}
    {%- if block.type == 'slide' -%}

      {%- if block.settings.slider_background_desktop == blank -%}
        {%- assign desktopImage = block.settings.slider_background_desktop_default -%}
      {%- else -%}
        {%- assign desktopImage = block.settings.slider_background_desktop | image_url: width: 1920 -%}
      {%- endif -%}

      {%- if block.settings.slider_background_mobile == blank -%}
        {%- assign mobileImage = block.settings.slider_background_mobile_default -%}
      {%- else -%}
        {%- assign mobileImage = block.settings.slider_background_mobile | image_url: width: 1440 -%}
      {%- endif -%}
      @media only screen and (min-width: 1025px) {
        .product-slider-background-area .product-background-slider .slider-container.block-index-{{ forloop.index }} {
          background-image: url({{ desktopImage }});
          {%- if block.settings.slider_background_desktop_position -%}
            background-position-y: -{{ block.settings.slider_background_desktop_position | append: 'px' }};
          {%- endif -%}
        }
      }
      @media only screen and (max-width: 1024px) {
        .product-slider-background-area .product-background-slider .slider-container.block-index-{{ forloop.index }} {
          background-image: url({{ mobileImage }});
        }
      }
    {%- endif -%}
  {%- endfor -%}
</style>

<section class="product-slider-background-area">
  <div class="product-background-slider" data-slider="{{ section.blocks.size }}">
    {%- for block in section.blocks -%}
      {%- if block.type == 'slide' -%}
        <div class="slider-container block-index-{{ forloop.index }}">
          <div class="sub-title-area">
            <h3>{{ block.settings.sub_title }}</h3>
          </div>
          <div class="heading-title-area">
            <h2>{{ block.settings.heading_title }}</h2>
          </div>
          <div class="button-area">
            {% if request.locale.iso_code != 'vi' %}
              <a
                href="{{ request.origin }}/{{ request.locale.iso_code }}{{ block.settings.button_link | default: '/collections/vitamin-d' }}"
                class="sd-button-third"
              >
                {{- block.settings.button_content -}}
              </a>
            {% else %}
              <a
                href="{{ block.settings.button_link | default: '/collections/vitamin-d' }}"
                class="sd-button-third"
              >
                {{- block.settings.button_content -}}
              </a>
            {% endif %}
          </div>
        </div>
      {%- endif -%}
    {%- endfor -%}
  </div>
</section>

{% schema %}
{
  "name": "t:sections.sunday-master-product-slider-background.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "blocks": [
    {
      "name": "t:sections.sunday-master-product-slider-background.blocks.name",
      "type": "slide",
      "settings": [
        {
          "type": "text",
          "id": "sub_title",
          "label": "t:sections.sunday-master-product-slider-background.blocks.settings.sub_title.label"
        },
        {
          "type": "text",
          "id": "heading_title",
          "label": "t:sections.sunday-master-product-slider-background.blocks.settings.heading_title.label"
        },
        {
          "type": "image_picker",
          "id": "slider_background_desktop",
          "label": "t:sections.sunday-master-product-slider-background.blocks.settings.slider_background_desktop.label"
        },
        {
          "type": "url",
          "id": "slider_background_desktop_default",
          "label": "t:sections.sunday-master-product-slider-background.blocks.settings.slider_background_desktop_default.label"
        },
        {
          "type": "range",
          "id": "slider_background_desktop_position",
          "min": 0,
          "max": 800,
          "step": 10,
          "unit": "px",
          "label": "t:sections.sunday-master-product-slider-background.blocks.settings.slider_background_desktop_position.label",
          "default": 30
        },
        {
          "type": "image_picker",
          "id": "slider_background_mobile",
          "label": "t:sections.sunday-master-product-slider-background.blocks.settings.slider_background_mobile.label"
        },
        {
          "type": "url",
          "id": "slider_background_mobile_default",
          "label": "t:sections.sunday-master-product-slider-background.blocks.settings.slider_background_mobile_default.label"
        },
        {
          "type": "text",
          "id": "button_content",
          "default": "Xem thêm",
          "label": "t:sections.sunday-master-product-slider-background.blocks.settings.button_content.label"
        },
        {
          "id": "button_link",
          "type": "url",
          "label": "t:sections.sunday-master-product-slider-background.blocks.settings.button_link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.sunday-master-product-slider-background.presets.name",
      "blocks": []
    }
  ]
}
{% endschema %}
