{{ 'sunday-collection-template-one.css' | asset_url | stylesheet_tag }}
<script src="{{ 'sunday-collection-template-one.js' | asset_url }}" defer="defer"></script>

<section class="collection-area collection-area-template-one">
  <div class="page-width">
    <div class="content-area">
      {% render 'sunday-breadcrumb' %}
      <div class="collection-details-area">
        <div class="title-area">
          <h1>
            {{ collection.title | upcase }}
          </h1>
        </div>
        <div class="description-area">
          {{ collection.description }}
          <span class="icon-collapse">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="26" viewBox="0 0 24 26" fill="none">
              <g id="plus">
                <path id="Icon" d="M12 6.92194V18.9219M6 12.9219H18" stroke="#CA9B63" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path id="Vector 1" d="M4 1.92194H1V24.9219H4" stroke="#CA9B63" stroke-linecap="round"/>
                <path id="Vector 2" d="M20 1.92194H23V24.9219H20" stroke="#CA9B63" stroke-linecap="round"/>
              </g>
            </svg>
          </span>
        </div>
      </div>

      {% assign aside_attribute = '' %}
      {% for collection_attribute in collection.metafields.custom.collection_attribute.value %}
        <div
          class="group-collection-area {% case forloop.index %}{% when 1 %}first{% when 2 %}second{% else %}other{% endcase %}"
          id="{{ collection_attribute.collection_child_name | handle }}"
        >
          <div class="title-area">
            <h2>
              {{ collection_attribute.collection_child_name | upcase }}
            </h2>
          </div>
          <div class="description-area">
            {{ collection_attribute.collection_child_description | metafield_tag | newline_to_br }}
            <span class="icon-collapse">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="26" viewBox="0 0 24 26" fill="none">
                <g id="plus">
                  <path id="Icon" d="M12 6.92194V18.9219M6 12.9219H18" stroke="#CA9B63" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path id="Vector 1" d="M4 1.92194H1V24.9219H4" stroke="#CA9B63" stroke-linecap="round"/>
                  <path id="Vector 2" d="M20 1.92194H23V24.9219H20" stroke="#CA9B63" stroke-linecap="round"/>
                </g>
              </svg>
            </span>
          </div>

          {% if collection_attribute.collection_child_product.value != blank %}
            {%- render 'sunday-product', productAttribute: collection_attribute.collection_child_product.value -%}
          {% endif %}
        </div>

        {% assign aside_attribute = aside_attribute | append: collection_attribute.collection_child_name %}
        {% if forloop.last == false %}
          {% assign aside_attribute = aside_attribute | append: '*' %}
        {% endif %}
      {% endfor %}
      {% assign aside_attribute = aside_attribute | split: '*' %}
    </div>

    <aside class="sidebar-area">
      <div class="sticky-area">
        <div class="group-title-area">
          <div class="category-title">
            <h2>{{ 'sunday.partials.label.menu' | t }}</h2>
          </div>
          <div class="icon-bar-area second-bar-icon toggle-open">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>

        <div class="list-category-area">
          {% for attribute in aside_attribute %}
            {% if attribute != blank %}
              <div class="category-item">
                <span data-id="{{ attribute | handle }}">
                  {{ attribute }}
                </span>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="icon-bar-area first-bar-icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </aside>
  </div>
  <div class="sunday-overlay"></div>
</section>

{% schema %}
{
  "name": "t:sections.sunday-collection-template-one.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "t:sections.sunday-collection-template-one.presets.name"
    }
  ]
}
{% endschema %}
