{{ 'sunday-home-page.css' | asset_url | stylesheet_tag }}

{%- style -%}
  @media only screen and (min-width: 200px) {
    /* .home-banner-area{
      {% if section.settings.image_product_width_mobile %}
          height: {{ section.settings.image_banner_height_mobile | append: 'px' }};
      {% endif %}
    } */
    .home-banner-area .product-image-area {
      {% if section.settings.image_product_width_mobile %}
        width: {{ section.settings.image_product_width_mobile | append: 'px' }};
      {% endif %}

      {% if section.settings.image_product_position_right_mobile %}
        right: {{ section.settings.image_product_position_right_mobile | append: 'px' }};
      {% endif %}

      {% if section.settings.image_product_position_bottom_mobile %}
        bottom: -{{ section.settings.image_product_position_bottom_mobile | append: 'px' }};
      {% endif %}
    }
    .home-banner-area .group-content-area .content-area .mobile-content {
      {% if section.settings.content_banner_margin_top_mobile %}
        margin-top: {{ section.settings.content_banner_margin_top_mobile | append: 'px' }};
      {% endif %}
    }
  }

  @media only screen and (min-width: 1025px) {
    /* .home-banner-area{
      {% if section.settings.image_product_width_desktop %}
          height: {{ section.settings.image_banner_height_desktop | append: 'px' }};
      {% endif %}
    } */
    .home-banner-area .product-image-area {
      {% if section.settings.image_product_width_desktop %}
        width: {{ section.settings.image_product_width_desktop | append: 'px' }};
      {% endif %}

      {% if section.settings.image_product_position_right_desktop %}
        right: {{ section.settings.image_product_position_right_desktop | append: 'px' }};
      {% endif %}

      {% if section.settings.image_product_position_bottom_desktop %}
        bottom: -{{ section.settings.image_product_position_bottom_desktop | append: 'px' }};
      {% endif %}
    }
    .home-banner-area .group-content-area .content-area .desktop-content {
      {% if section.settings.content_banner_margin_top_desktop %}
        margin-top: {{ section.settings.content_banner_margin_top_desktop | append: 'px' }};
      {% endif %}
    }
  }

  .home-banner-area .group-content-area .title-area h2 {
    {% if section.settings.heading_align %}
      text-align: {{ section.settings.heading_align }};
    {% endif %}
  }

  .home-banner-area .group-content-area .content-area p {
    {% if section.settings.content_align %}
      text-align: {{ section.settings.content_align }};
    {% endif %}
  }
{%- endstyle -%}

<section class="home-banner-area">
  <h1>{{ section.settings.heading_banner_desktop | strip_html }}</h1>
  <div class="background-image">
    <img
      class="mobile-image"
      src="{% if section.settings.image_banner_mobile %}{{ section.settings.image_banner_mobile | image_url: width: 1024 }}{% else %}//cdn.shopify.com/s/files/1/0817/3902/2646/files/Sunday-banner-mb.png?v=1693217456&width=1024{% endif %}"
      width="{{ section.settings.image_banner_mobile.width | default: '414' }}"
      height="{{ section.settings.image_banner_mobile.height | default: '516' }}"
      alt="{{ section.settings.image_banner_mobile.alt | default: 'SundayBanner' }}"
      loading="eager"
    >

    <img
      class="desktop-image"
      src="{% if section.settings.image_banner_desktop %}{{ section.settings.image_banner_desktop | image_url: width: 1920 }}{% else %}//cdn.shopify.com/s/files/1/0817/3902/2646/files/Sunday-banner.webp?v=1693217350&width=1920{% endif %}"
      width="{{ section.settings.image_banner_desktop.width | default: '1920' }}"
      height="{{ section.settings.image_banner_desktop.height | default: '979' }}"
      alt="{{ section.settings.image_banner_desktop.alt | default: 'SundayBanner' }}"
      loading="eager"
    >
  </div>

  <div class="product-image-area">
    {%- if section.settings.image_product -%}
      {{ section.settings.image_product | image_url: width: 1024 | image_tag }}
    {%- else -%}
      <img
        src="https://cdn.shopify.com/s/files/1/0817/3902/2646/files/5597__NAME__20ml_de_product-main-thumbnail-1.png?v=1694099588&width=1024"
        width="500"
        height="611"
        alt="SundayBannerProduct"
        loading="eager"
      >
    {%- endif -%}
  </div>
  <div class="group-content-area">
    <div class="title-area">
      {% if section.settings.heading_banner_desktop %}
        <h2 class="desktop-title">
          {{ section.settings.heading_banner_desktop | upcase | default: 'DINH DƯỠNG CAO CẤP<br>TỪ THIÊN NHIÊN' }}
        </h2>
      {% endif %}
      {% if section.settings.heading_banner_mobile %}
        <h2 class="mobile-title">
          {{ section.settings.heading_banner_mobile | upcase | default: 'DINH DƯỠNG<br>CAO CẤP<br>TỪ THIÊN NHIÊN' }}
        </h2>
      {% endif %}
    </div>
    <div class="content-area">
      {% if section.settings.content_banner_desktop %}
        <div class="desktop-content">
          {{ section.settings.content_banner_desktop }}
        </div>
      {% endif %}

      {% if section.settings.content_banner_mobile %}
        <div class="mobile-content">
          {{ section.settings.content_banner_mobile }}
        </div>
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.sunday-home-page-banner.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image_banner_desktop",
      "label": "t:sections.sunday-home-page-banner.settings.image_banner_desktop.label"
    },
    {
      "type": "range",
      "id": "image_banner_height_desktop",
      "min": 100,
      "max": 1000,
      "step": 10,
      "unit": "px",
      "label": "t:sections.sunday-home-page-banner.settings.image_banner_height_desktop.label",
      "default": 800
    },
    {
      "type": "text",
      "id": "heading_banner_desktop",
      "default": "DINH DƯỠNG CAO CẤP<br>TỪ THIÊN NHIÊN",
      "label": "t:sections.sunday-home-page-banner.settings.heading_banner_desktop.label"
    },
    {
      "type": "richtext",
      "id": "content_banner_desktop",
      "default": "<p>Tất cả sản phẩm có chất lượng và độ tinh khiết cao nhất, Các dưỡng chất được giữ gìn nguyên vẹn hoàn hảo nhất.</p>",
      "label": "t:sections.sunday-home-page-banner.settings.content_banner_desktop.label"
    },
    {
      "type": "range",
      "id": "content_banner_margin_top_desktop",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "t:sections.sunday-home-page-banner.settings.content_banner_margin_top_desktop.label",
      "default": 0
    },

    {
      "type": "image_picker",
      "id": "image_banner_mobile",
      "label": "t:sections.sunday-home-page-banner.settings.image_banner_mobile.label"
    },
    {
      "type": "range",
      "id": "image_banner_height_mobile",
      "min": 100,
      "max": 600,
      "step": 5,
      "unit": "px",
      "label": "t:sections.sunday-home-page-banner.settings.image_banner_height_mobile.label",
      "default": 515
    },
    {
      "type": "text",
      "id": "heading_banner_mobile",
      "default": "DINH DƯỠNG<br>CAO CẤP<br>TỪ THIÊN NHIÊN",
      "label": "t:sections.sunday-home-page-banner.settings.heading_banner_mobile.label"
    },
    {
      "type": "richtext",
      "id": "content_banner_mobile",
      "default": "<p>Tất cả sản phẩm có chất lượng và độ tinh khiết cao nhất, Các dưỡng chất được giữ gìn nguyên vẹn hoàn hảo nhất.</p>",
      "label": "t:sections.sunday-home-page-banner.settings.content_banner_mobile.label"
    },
    {
      "type": "range",
      "id": "content_banner_margin_top_mobile",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "t:sections.sunday-home-page-banner.settings.content_banner_margin_top_mobile.label",
      "default": 0
    },

    {
      "type": "image_picker",
      "id": "image_product",
      "label": "t:sections.sunday-home-page-banner.settings.image_product.label"
    },
    {
      "type": "range",
      "id": "image_product_width_desktop",
      "min": 100,
      "max": 600,
      "step": 5,
      "unit": "px",
      "label": "t:sections.sunday-home-page-banner.settings.image_product_width_desktop.label",
      "default": 380
    },
    {
      "type": "range",
      "id": "image_product_position_right_desktop",
      "min": 0,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "t:sections.sunday-home-page-banner.settings.image_product_position_right_desktop.label",
      "default": 25
    },
    {
      "type": "range",
      "id": "image_product_position_bottom_desktop",
      "min": 0,
      "max": 400,
      "step": 5,
      "unit": "px",
      "label": "t:sections.sunday-home-page-banner.settings.image_product_position_bottom_desktop.label",
      "default": 170
    },

    {
      "type": "range",
      "id": "image_product_width_mobile",
      "min": 100,
      "max": 300,
      "step": 2,
      "unit": "px",
      "label": "t:sections.sunday-home-page-banner.settings.image_product_width_mobile.label",
      "default": 210
    },
    {
      "type": "range",
      "id": "image_product_position_right_mobile",
      "min": 0,
      "max": 40,
      "step": 2,
      "unit": "px",
      "label": "t:sections.sunday-home-page-banner.settings.image_product_position_right_mobile.label",
      "default": 4
    },
    {
      "type": "range",
      "id": "image_product_position_bottom_mobile",
      "min": 0,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "t:sections.sunday-home-page-banner.settings.image_product_position_bottom_mobile.label",
      "default": 55
    },
    {
      "type": "select",
      "id": "heading_align",
      "options": [
        {
          "value": "left",
          "label": "t:sections.sunday-home-page-banner.settings.heading_align.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.sunday-home-page-banner.settings.heading_align.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.sunday-home-page-banner.settings.heading_align.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.sunday-home-page-banner.settings.heading_align.label"
    },
    {
      "type": "select",
      "id": "content_align",
      "options": [
        {
          "value": "left",
          "label": "t:sections.sunday-home-page-banner.settings.heading_align.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.sunday-home-page-banner.settings.heading_align.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.sunday-home-page-banner.settings.heading_align.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.sunday-home-page-banner.settings.content_align.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.sunday-home-page-banner.presets.name"
    }
  ]
}
{% endschema %}
