{{ 'sunday-master-banner-content.css' | asset_url | stylesheet_tag }}

{%- style -%}
  @media (min-width: 200px) {
     .background-content-area {
       {% if section.settings.banner_mobile != null %}
         background-image: url('{{- section.settings.banner_mobile | image_url: width: 1024 -}}');
       {% else %}
         background-image: url('{{- section.settings.banner_mobile_default -}}');
       {% endif %}
     }
   }
   @media (min-width: 1025px) {
     .background-content-area {
       {% if section.settings.banner_desktop != null %}
         background-image: url('{{- section.settings.banner_desktop | image_url: width: 2048 -}}');
       {% else %}
         background-image: url('{{- section.settings.banner_desktop_default -}}');
       {% endif %}
     }
   }
{%- endstyle -%}

<section class="background-content-area">
  <div class="group-content-area">
    <div class="title-area title-desktop">
      <h2>{{ section.settings.heading_title_desktop }}</h2>
    </div>
    <div class="title-area title-mobile">
      <h2>{{ section.settings.heading_title_mobile }}</h2>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.sunday-master-banner-content.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_desktop",
      "label": "t:sections.sunday-master-banner-content.settings.banner_desktop.label"
    },
    {
      "type": "url",
      "id": "banner_desktop_default",
      "label": "t:sections.sunday-master-banner-content.settings.banner_desktop_default.label"
    },
    {
      "type": "text",
      "id": "heading_title_desktop",
      "default": "Đức Phật",
      "label": "t:sections.sunday-master-banner-content.settings.heading_title_desktop.label"
    },

    {
      "type": "image_picker",
      "id": "banner_mobile",
      "label": "t:sections.sunday-master-banner-content.settings.banner_mobile.label"
    },
    {
      "type": "url",
      "id": "banner_mobile_default",
      "label": "t:sections.sunday-master-banner-content.settings.banner_mobile_default.label"
    },
    {
      "type": "text",
      "id": "heading_title_mobile",
      "default": "Đức Phật",
      "label": "t:sections.sunday-master-banner-content.settings.heading_title_mobile.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.sunday-master-banner-content.presets.name"
    }
  ]
}
{% endschema %}
